.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 390px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: -264px auto 60px 83px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 342px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 322px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -196px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 247px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -121px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 185px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 10px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1228px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  margin-top: 20px;
}

.u-section-2 .u-text-2 {
  margin: 19px 800px 0 1px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 14px 981px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 20px 938px 0 0;
}

.u-section-2 .u-text-8 {
  margin: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 38px auto 0 0;
}

.u-section-2 .u-text-10 {
  margin: 0 0 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 601px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 781px;
    width: 163px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 738px;
    width: 202px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 381px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 561px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 201px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 381px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 181px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 138px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1225px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px 925px 0 0;
}

.u-section-3 .u-image-1 {
  width: 454px;
  height: 340px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px 915px 0 0;
}

.u-section-3 .u-image-2 {
  width: 911px;
  height: 208px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 29px 903px 0 0;
}

.u-section-3 .u-image-3 {
  width: 470px;
  height: 67px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 30px auto 21px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-3 {
    margin-right: 725px;
  }

  .u-section-3 .u-text-5 {
    width: 225px;
    margin-right: 715px;
  }

  .u-section-3 .u-text-7 {
    width: 237px;
    margin-right: 703px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1180px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 505px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 495px;
  }

  .u-section-3 .u-image-2 {
    width: 720px;
    height: 164px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 483px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1139px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 325px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 315px;
  }

  .u-section-3 .u-image-2 {
    width: 540px;
    height: 123px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 303px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 125px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 255px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 115px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 77px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 103px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 976px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 488px;
  height: 381px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 265px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1010px;
}

.u-section-5 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 12px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 41px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 596px;
  margin: 20px auto 60px 0;
}

.u-section-5 .u-text-4 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 12px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 564px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 355px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1179px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-6 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 40px 767px 0 0;
}

.u-section-6 .u-image-1 {
  height: 70px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-6 .u-text-6 {
  margin: 30px auto 20px 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-5 {
    width: 373px;
    margin-right: 567px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-5 {
    margin-right: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-5 {
    margin-right: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-5 {
    width: 340px;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1193px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 35px 785px 0 0;
}

.u-section-7 .u-image-1 {
  width: 977px;
  height: 267px;
  margin: 20px auto 0 0;
}

.u-section-7 .u-text-3 {
  margin: 35px auto 0 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px 802px 0 0;
}

.u-section-7 .u-image-2 {
  height: 523px;
  width: 949px;
  margin: 8px auto 0 0;
}

.u-section-7 .u-text-5 {
  margin: 30px auto 35px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1178px;
  }

  .u-section-7 .u-text-2 {
    width: 355px;
    margin-right: 585px;
  }

  .u-section-7 .u-image-1 {
    width: 940px;
    height: 257px;
  }

  .u-section-7 .u-text-4 {
    width: 338px;
    margin-right: 602px;
  }

  .u-section-7 .u-image-2 {
    height: 518px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 997px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 365px;
  }

  .u-section-7 .u-image-1 {
    width: 720px;
    height: 197px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 382px;
  }

  .u-section-7 .u-image-2 {
    height: 397px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 185px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 148px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 202px;
  }

  .u-section-7 .u-image-2 {
    height: 298px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 93px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 2px;
  }

  .u-section-7 .u-image-2 {
    height: 188px;
    width: 340px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 526px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
  margin-top: 22px;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  margin: 20px 1024px 0 0;
}

.u-section-8 .u-image-1 {
  width: 623px;
  height: 213px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-4 {
  margin: 17px auto 22px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1288px;
  }

  .u-section-8 .u-text-3 {
    width: 116px;
    margin-right: 824px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1262px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 604px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 424px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 185px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 224px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 116px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 19px 748px 0 0;
}

.u-section-9 .u-image-1 {
  width: 1083px;
  height: 602px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-image-2 {
  width: 932px;
  height: 162px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 30px 0 22px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-right: 548px;
    width: 342px;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 400px;
  }

  .u-section-9 .u-image-2 {
    width: 720px;
    height: 125px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-right: 148px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 300px;
  }

  .u-section-9 .u-image-2 {
    width: 540px;
    height: 94px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-right: 0;
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 189px;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 59px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 773px;
}

.u-section-10 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-10 .u-text-2 {
  letter-spacing: 0px;
  margin: 10px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0;
}.u-section-11 .u-sheet-1 {
  min-height: 871px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 34px 649px 0 0;
}

.u-section-11 .u-image-1 {
  width: 667px;
  height: 471px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  margin: 34px 0 0;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  margin: 34px 821px 0 0;
}

.u-section-11 .u-image-2 {
  width: 1030px;
  height: 106px;
  margin: 2px auto 0 0;
}

.u-section-11 .u-text-4 {
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1142px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 449px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 621px;
  }

  .u-section-11 .u-image-2 {
    width: 940px;
    height: 97px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 401px;
  }

  .u-section-11 .u-image-2 {
    width: 720px;
    height: 74px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 49px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 382px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 221px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 850px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 241px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 21px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 35px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 26px 794px 0 0;
}

.u-section-12 .u-image-1 {
  height: 172px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-12 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  margin: 26px 709px 0 0;
}

.u-section-12 .u-image-2 {
  width: 976px;
  height: 325px;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-12 .u-text-5 {
  font-weight: 700;
  margin: 31px 807px 0 0;
}

.u-section-12 .u-image-3 {
  width: 499px;
  height: 112px;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-6 {
  margin: 23px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-right: 594px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 509px;
  }

  .u-section-12 .u-image-2 {
    width: 940px;
    height: 313px;
  }

  .u-section-12 .u-text-5 {
    margin-right: 607px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-right: 374px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 289px;
  }

  .u-section-12 .u-image-2 {
    width: 720px;
    height: 240px;
  }

  .u-section-12 .u-text-5 {
    margin-right: 387px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-text-1 {
    margin-right: 194px;
  }

  .u-section-12 .u-text-3 {
    margin-right: 109px;
  }

  .u-section-12 .u-image-2 {
    width: 540px;
    height: 180px;
  }

  .u-section-12 .u-text-5 {
    margin-right: 207px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    margin-right: 0;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 113px;
  }

  .u-section-12 .u-text-5 {
    margin-right: 7px;
  }

  .u-section-12 .u-image-3 {
    width: 340px;
    height: 76px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1178px;
}

.u-section-13 .u-text-1 {
  margin: 19px 0 0;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  margin: 21px 906px 0 0;
}

.u-section-13 .u-image-1 {
  width: 529px;
  height: 215px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-3 {
  margin: 27px 0 0;
}

.u-section-13 .u-text-4 {
  font-weight: 700;
  margin: 27px 969px 0 0;
}

.u-section-13 .u-image-2 {
  width: 872px;
  height: 498px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-5 {
  margin: 27px 0 19px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-2 {
    margin-right: 706px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 769px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 486px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 549px;
  }

  .u-section-13 .u-image-2 {
    width: 720px;
    height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 306px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 369px;
  }

  .u-section-13 .u-image-2 {
    width: 540px;
    height: 308px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-13 .u-text-2 {
    margin-right: 106px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 138px;
  }

  .u-section-13 .u-text-4 {
    margin-right: 169px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 194px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 931px;
}

.u-section-14 .u-text-1 {
  margin: 9px -1px 0;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  margin: 45px 844px 0 0;
}

.u-section-14 .u-image-1 {
  width: 536px;
  height: 224px;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-3 {
  margin: 32px auto 0 0;
}

.u-section-14 .u-text-4 {
  font-weight: 700;
  margin: 35px 986px 0 0;
}

.u-section-14 .u-image-2 {
  width: 1120px;
  height: 126px;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-5 {
  font-weight: 700;
  margin: 19px 919px 0 0;
}

.u-section-14 .u-image-3 {
  width: 912px;
  height: 131px;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-6 {
  margin: 8px auto 27px 0;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-14 .u-text-2 {
    width: 296px;
    margin-right: 644px;
  }

  .u-section-14 .u-text-4 {
    width: 154px;
    margin-right: 786px;
  }

  .u-section-14 .u-image-2 {
    width: 940px;
    height: 106px;
  }

  .u-section-14 .u-text-5 {
    width: 221px;
    margin-right: 719px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 953px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 424px;
  }

  .u-section-14 .u-text-4 {
    margin-right: 566px;
  }

  .u-section-14 .u-image-2 {
    width: 720px;
    height: 81px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 499px;
  }

  .u-section-14 .u-image-3 {
    width: 720px;
    height: 103px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 244px;
  }

  .u-section-14 .u-text-4 {
    margin-right: 386px;
  }

  .u-section-14 .u-image-2 {
    width: 540px;
    height: 61px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 319px;
  }

  .u-section-14 .u-image-3 {
    width: 540px;
    height: 77px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-14 .u-text-2 {
    margin-right: 44px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 142px;
  }

  .u-section-14 .u-text-4 {
    margin-right: 186px;
  }

  .u-section-14 .u-image-2 {
    width: 340px;
    height: 38px;
  }

  .u-section-14 .u-text-5 {
    margin-right: 119px;
  }

  .u-section-14 .u-image-3 {
    width: 340px;
    height: 48px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 789px;
}

.u-section-15 .u-video-1 {
  height: 620px;
  margin-top: 8px;
  margin-bottom: 0;
}

.u-section-15 .u-text-1 {
  margin: 0 auto;
}

.u-section-15 .u-text-2 {
  width: 680px;
  margin: 23px auto 60px;
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-15 .u-video-1 {
    height: 300px;
    margin-top: 60px;
  }

  .u-section-15 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-15 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-15 .u-video-1 {
    height: 190px;
  }

  .u-section-15 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}.u-section-16 .u-sheet-1 {
  min-height: 466px;
}

.u-section-16 .u-text-1 {
  margin: 26px 0 0;
}

.u-section-16 .u-text-2 {
  text-align: start;
  margin: 35px 961px 0 0;
}

.u-section-16 .u-text-3 {
  text-align: start;
  margin: 15px 0 26px;
}

@media (max-width: 1199px) {
  .u-section-16 .u-text-2 {
    margin-right: 761px;
  }
}

@media (max-width: 991px) {
  .u-section-16 .u-text-2 {
    margin-right: 541px;
  }
}

@media (max-width: 767px) {
  .u-section-16 .u-text-2 {
    margin-right: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-16 .u-text-2 {
    margin-right: 161px;
  }
}