 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 29px 114px 0 143px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.6);
  width: 741px;
  height: 548px;
  margin: 19px 185px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: -265px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 570px;
    margin-top: 314px;
    margin-left: 43px;
    margin-right: 14px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -105px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -138px;
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 532px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 399px;
    margin-top: -170px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 251px;
    margin-top: -100px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 517px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 2.25rem;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 840px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 567px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 640px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 367px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 420px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-3 {
    margin-right: 240px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-3 {
    margin-right: 40px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 500px;
}

.u-section-3 .u-image-1 {
  width: 347px;
  height: 142px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-1 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 480px;
  height: 68px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 219px;
  height: 37px;
  margin: 30px auto 60px 0;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 139px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 48px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  height: 130px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-4 .u-image-2 {
  height: 139px;
  margin-bottom: 0;
  margin-top: 19px;
}

.u-section-4 .u-text-2 {
  margin: 58px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-top: 187px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-top: 153px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-top: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-top: 94px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 199px;
  height: 72px;
  margin: 0 auto 0 1px;
}

.u-section-5 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 3px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 278px;
  height: 390px;
  margin: 3px 0 60px;
}.u-section-6 .u-sheet-1 {
  min-height: 1021px;
}

.u-section-6 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 23px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 161px;
  height: 326px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  margin: 23px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-6 .u-image-2 {
  width: 122px;
  height: 327px;
  margin: 20px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 30px auto 21px 0;
}.u-section-7 .u-sheet-1 {
  min-height: 1089px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 20px;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 28px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 540px;
  height: 179px;
  margin: 9px auto 0 0;
}

.u-section-7 .u-image-2 {
  width: 675px;
  height: 258px;
  margin: 0 auto 0 20px;
}

.u-section-7 .u-text-3 {
  margin: 9px auto 0 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 84px auto 0 28px;
}

.u-section-7 .u-image-3 {
  width: 675px;
  height: 328px;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 972px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 206px;
    margin-top: 64px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 52px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -294px;
  }

  .u-section-7 .u-image-3 {
    width: 540px;
    height: 263px;
    margin-top: 271px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 113px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 130px;
    margin-top: 89px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 103px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -370px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 166px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1123px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 19px 889px 0 0;
}

.u-section-8 .u-image-1 {
  width: 1032px;
  height: 99px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-2 {
  width: 248px;
  height: 260px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 30px 0 0;
}

.u-section-8 .u-text-4 {
  font-weight: 700;
  margin: 33px auto 0 0;
}

.u-section-8 .u-image-3 {
  width: 276px;
  height: 408px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-5 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1114px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 689px;
  }

  .u-section-8 .u-image-1 {
    width: 940px;
    height: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 469px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 69px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 289px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 89px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 33px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-9 .u-text-1 {
  margin: 16px 0 0;
}

.u-section-9 .u-text-2 {
  font-weight: 700;
  margin: 16px 532px 0 0;
}

.u-section-9 .u-image-1 {
  width: 591px;
  height: 124px;
  margin: 0 auto 0 0;
}

.u-section-9 .u-text-3 {
  margin: 7px auto 0 0;
}

.u-section-9 .u-text-4 {
  font-weight: 700;
  margin: 21px 816px 0 0;
}

.u-section-9 .u-image-2 {
  width: 275px;
  height: 409px;
  margin: 0 auto 44px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    width: 608px;
    margin-right: 332px;
  }

  .u-section-9 .u-text-4 {
    width: 324px;
    margin-right: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    margin-right: 112px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1026px;
  }

  .u-section-9 .u-text-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 113px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 216px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-9 .u-text-2 {
    width: 340px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 71px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 16px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1210px;
}

.u-section-10 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-10 .u-text-2 {
  font-weight: 700;
  margin: 26px auto 0 0;
}

.u-section-10 .u-image-1 {
  width: 349px;
  height: 274px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-image-2 {
  width: 291px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-image-3 {
  width: 570px;
  height: 536px;
  margin: 30px auto 0 0;
}

.u-section-10 .u-text-4 {
  margin: 30px auto 0 0;
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1182px;
  }

  .u-section-10 .u-image-3 {
    width: 540px;
    height: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 267px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 320px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1082px;
}

.u-section-11 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: 32px auto 0 0;
}

.u-section-11 .u-image-1 {
  width: 424px;
  height: 70px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-11 .u-text-4 {
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 570px;
  height: 593px;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 562px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 56px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 354px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 1314px;
}

.u-section-12 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-12 .u-text-2 {
  font-weight: 700;
  width: 187px;
  margin: 33px auto 0 0;
}

.u-section-12 .u-image-1 {
  width: 438px;
  height: 268px;
  margin: 0 auto 0 0;
}

.u-section-12 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-12 .u-text-4 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-12 .u-image-2 {
  width: 478px;
  height: 371px;
  margin: 30px auto 0 0;
}

.u-section-12 .u-image-3 {
  width: 428px;
  height: 324px;
  margin: -305px 204px 0 auto;
}

.u-section-12 .u-image-4 {
  width: 486px;
  height: 248px;
  margin: 30px 114px 0 auto;
}

.u-section-12 .u-image-5 {
  width: 466px;
  height: 257px;
  margin: -248px auto 11px 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-image-3 {
    margin-right: 112px;
  }

  .u-section-12 .u-image-4 {
    margin-right: 54px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 936px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 208px;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 264px;
  }

  .u-section-12 .u-image-3 {
    width: 340px;
    height: 257px;
    margin-right: 0;
  }

  .u-section-12 .u-image-4 {
    width: 340px;
    height: 174px;
    margin-top: 97px;
    margin-right: 0;
  }

  .u-section-12 .u-image-5 {
    width: 340px;
    height: 188px;
    margin-top: -201px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 1057px;
}

.u-section-13 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-13 .u-text-2 {
  font-weight: 700;
  width: 319px;
  margin: 32px auto 0 20px;
}

.u-section-13 .u-text-3 {
  font-weight: 700;
  margin: -25px 207px 0 auto;
}

.u-section-13 .u-image-1 {
  width: 506px;
  height: 426px;
  margin: 11px auto 0 0;
}

.u-section-13 .u-image-2 {
  width: 506px;
  height: 381px;
  margin: -425px 44px 0 auto;
}

.u-section-13 .u-text-4 {
  margin: 89px auto 0 0;
}

.u-section-13 .u-text-5 {
  font-weight: 700;
  margin: 50px auto 0 0;
}

.u-section-13 .u-image-3 {
  width: 534px;
  height: 300px;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-13 .u-text-3 {
    margin-right: 155px;
  }

  .u-section-13 .u-image-2 {
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-13 .u-text-2 {
    margin-top: -69px;
  }

  .u-section-13 .u-text-3 {
    margin-right: 98px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 286px;
    margin-top: 112px;
  }

  .u-section-13 .u-image-2 {
    width: 340px;
    height: 256px;
    margin-top: -343px;
    margin-right: 0;
  }

  .u-section-13 .u-image-3 {
    width: 340px;
    height: 191px;
    margin-top: -25px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 911px;
}

.u-section-14 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-14 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-14 .u-image-1 {
  width: 469px;
  height: 606px;
  margin: 0 auto 0 0;
}

.u-section-14 .u-text-3 {
  margin: 30px auto 0 0;
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 744px;
  }

  .u-section-14 .u-image-1 {
    width: 340px;
    height: 439px;
  }
}.u-section-15 .u-sheet-1 {
  min-height: 500px;
}

.u-section-15 .u-text-1 {
  margin-bottom: 0;
}

.u-section-15 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 60px;
}