.u-section-1 .u-sheet-1 {
  min-height: 315px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 965px 0 0;
}

.u-section-1 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left center 0px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 10px 708px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 0 0 988px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 2px 0 0 928px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-style: italic;
  margin: -33px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 708px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 0 0 988px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.875rem;
  margin: -33px 0 0 967px;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px 708px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 0 0 988px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  margin: 0 0 0 928px;
}

.u-section-1 .u-text-13 {
  font-size: 1.875rem;
  font-style: italic;
  margin: -26px auto 10px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 765px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 788px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 728px;
  }

  .u-section-1 .u-text-5 {
    width: 558px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 788px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 767px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 788px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 728px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 545px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 568px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 508px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 568px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 547px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 288px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 568px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 508px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 365px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 388px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 328px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 388px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 367px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 108px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 388px;
  }

  .u-section-1 .u-text-12 {
    margin-left: 328px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 165px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 188px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 128px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 188px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    margin-left: 167px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.5rem;
    margin-top: -12px;
    margin-left: 188px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1.5rem;
    margin-top: -7px;
    margin-left: 128px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.5rem;
    margin-bottom: 29px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 945px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 12px 863px 0 0;
}

.u-section-2 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left center 0px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 3px 0 0 961px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -28px 308px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  background-image: none;
  font-style: normal;
  margin: 0 0 0 12px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  background-image: none;
  margin: 8px 0 0 12px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  background-image: none;
  margin: 12px 0 0 12px;
}

.u-section-2 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 21px 0 0 984px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 201px 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.875rem;
  background-image: none;
  margin: 0 0 0 12px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  background-image: none;
  margin: 8px 0 0 12px;
}

.u-section-2 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 12px 0 0 984px;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -33px 559px 0 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.875rem;
  background-image: none;
  margin: 0 0 0 12px;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 13px 0 0 984px;
}

.u-section-2 .u-text-15 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -25px 300px 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.875rem;
  background-image: none;
  margin: 0 0 0 12px;
}

.u-section-2 .u-text-17 {
  font-size: 1.875rem;
  background-image: none;
  margin: 8px 0 13px 12px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 663px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 761px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 108px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 784px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 1px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 784px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 359px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 784px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 100px;
  }

  .u-section-2 .u-text-16 {
    margin-left: 0;
  }

  .u-section-2 .u-text-17 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 443px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 541px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 564px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 564px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 139px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 564px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 361px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 384px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 384px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 384px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 63px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 161px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 184px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.5rem;
    margin-left: 184px;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-14 {
    font-size: 1.5rem;
    margin-left: 184px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 393px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 11px 782px 0 0;
}

.u-section-3 .u-line-1 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 13px 703px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  background-image: none;
  margin: -1px 0 0 12px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  background-image: none;
  margin: 22px 0 0 12px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 19px 782px 0 0;
}

.u-section-3 .u-line-2 {
  height: 3px;
  margin-bottom: 0;
  margin-top: 0;
  transform-origin: left center 0px;
}

.u-section-3 .u-text-6 {
  font-size: 1.875rem;
  background-image: none;
  margin: 16px 497px 16px 12px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 582px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 503px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 582px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 309px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 283px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 89px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 182px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 103px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 182px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }
}