.u-section-1 .u-sheet-1 {
  min-height: 760px;
}

.u-section-1 .u-image-1 {
  width: 476px;
  height: 737px;
  margin: 0 auto 0 37px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -466px 0 60px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 527px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -256px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 751px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 391px;
  margin: 28px auto 0 0;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 389px;
  margin: 9px 257px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 301px;
  height: 304px;
  margin: -378px auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 94px auto 21px 12px;
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 730px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 369px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -358px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 593px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 232px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -221px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 805px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 190px;
  margin: 29px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 870px;
  height: 655px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 51px 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 542px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 407px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 256px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 796px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 7px auto 0 0;
}

.u-section-4 .u-image-1 {
  width: 570px;
  height: 664px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  margin: 30px auto 20px 0;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 629px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 396px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 694px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  width: 201px;
  margin: 28px auto 0 0;
}

.u-section-5 .u-image-1 {
  width: 570px;
  height: 414px;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 21px 0 10px;
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 392px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 247px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 967px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 19px auto 0 0;
}

.u-section-6 .u-image-1 {
  width: 515px;
  height: 824px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 19px 0;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 544px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 917px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 28px auto 0 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 740px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 46px 0 28px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    width: 470px;
    height: 610px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    width: 360px;
    height: 467px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-7 .u-image-1 {
    width: 270px;
    height: 350px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-7 .u-image-1 {
    width: 170px;
    height: 220px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1026px;
}

.u-section-8 .u-text-1 {
  margin: 22px 17px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 700;
  margin: 28px 364px 0 0;
}

.u-section-8 .u-image-1 {
  width: 419px;
  height: 824px;
  margin: 20px auto 0 0;
}

.u-section-8 .u-text-3 {
  margin: 37px 28px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 164px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 871px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 669px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 948px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0 0;
}

.u-section-9 .u-image-1 {
  width: 1024px;
  height: 782px;
  margin: 11px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 30px auto 30px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-9 .u-image-1 {
    width: 940px;
    height: 718px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 550px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 426px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 260px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 52px auto 0 0;
}

.u-section-10 .u-image-1 {
  width: 912px;
  height: 698px;
  margin: 0 auto 0 0;
}

.u-section-10 .u-text-2 {
  margin: 30px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    width: 720px;
    height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    width: 540px;
    height: 413px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    width: 340px;
    height: 260px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1131px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0 0;
}

.u-section-11 .u-image-1 {
  width: 570px;
  height: 294px;
  margin: 0 auto 0 0;
}

.u-section-11 .u-text-2 {
  font-weight: 700;
  margin: -220px 183px 0 auto;
}

.u-section-11 .u-text-3 {
  margin: 188px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 1122px;
  height: 623px;
  margin: 30px auto 0 0;
}

.u-section-11 .u-text-4 {
  margin: 30px auto 18px 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-11 .u-image-1 {
    width: 470px;
    height: 243px;
  }

  .u-section-11 .u-image-2 {
    width: 940px;
    height: 522px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 908px;
  }

  .u-section-11 .u-image-1 {
    width: 360px;
    height: 186px;
  }

  .u-section-11 .u-image-2 {
    width: 720px;
    height: 400px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-11 .u-image-1 {
    width: 270px;
    height: 140px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -205px;
    margin-right: 137px;
  }

  .u-section-11 .u-image-2 {
    width: 540px;
    height: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 579px;
  }

  .u-section-11 .u-image-1 {
    width: 170px;
    height: 88px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -102px;
    margin-right: 86px;
  }

  .u-section-11 .u-image-2 {
    width: 340px;
    height: 189px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 909px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  margin: 48px auto 0 0;
}

.u-section-12 .u-image-1 {
  height: 726px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-12 .u-text-2 {
  margin: 30px auto 30px 0;
}

@media (max-width: 767px) {
  .u-section-12 .u-image-1 {
    margin-top: -25px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 391px;
}

.u-section-13 .u-text-1 {
  margin-bottom: 0;
}

.u-section-13 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-13 .u-text-3 {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.u-section-13 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-13 .u-text-5 {
  margin: 20px auto 27px 0;
}